{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- Avatar shape fix 160px-->
<style>
.author__avatar img {
  max-width: 200px;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}
</style>

<style>
/* Highlight active navigation tab */
.masthead__menu-item a.is-active {
  color: #c5050c;              /* UW–Madison red */
  font-weight: 700;
  border-bottom: 3px solid #c5050c;
  padding-bottom: 4px;
}

/* Optional: hover effect for inactive tabs */
.masthead__menu-item a:hover {
  color: #c5050c;
}
</style>




<!-- end custom head snippets -->
